version: '3.8'

services:
  web:
    build: .
    command: >
      bash -c "chmod +x /app/scripts/import_db.sh &&
               /app/scripts/import_db.sh &&
               gunicorn server.wsgi:application --bind 0.0.0.0:8000"
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
      - media_volume:/app/media
      - ./backup:/app/backup
    ports:
      - "8000:8000"
    environment:
      - POSTGRES_HOST=db
      - POSTGRES_DB=medic_db
      - POSTGRES_USER=medic_db
      - POSTGRES_PASSWORD=publichealth
      - REDIS_URL=redis://redis:6379/1
      - DEBUG=True
    env_file:
      - .env.example
    depends_on:
      - db
      - redis

  db:
    image: postgres:14-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_DB=medic_db
      - POSTGRES_USER=medic_db
      - POSTGRES_PASSWORD=publichealth
    ports:
      - "5432:5432"

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

volumes:
  postgres_data:
  redis_data:
  static_volume:
  media_volume:
